@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
html {
    font-family: 'Poppins', Verdana, Arial, Helvetica, sans-serif;
}


body {
    background-color:hsl(280, 13%, 87%);
    width:100%
}

h1, h2, h3 {
    color: 	hsl(281, 26%, 48%);
}
h1 {
    text-decoration: underline;
}

h1, h2 {
    text-align: center;
}
h2 {
    text-transform: uppercase;
    letter-spacing: 10px;
}

#introduction {
    font-weight: bolder;
    color: 	hsl(223, 10%, 36%);
}
ul {
    list-style-type: square;
}
p, ul, li {
    color:hsl(223, 10%, 36%);
}

button {
    background-color: 	hsl(281, 26%, 48%);
    color: white;
    font-size: 1em;
}
button:hover {
    background-color: #535865;
}